<div class="example-wrapper">
  <div style="margin-bottom: 5px">
    <button style="font-size: 12px" (click)="onBtStartEditing()">
      Start Editing Line 2
    </button>
    <button style="font-size: 12px" (click)="onBtStopEditing()">
      Stop Editing
    </button>
  </div>
  <ag-grid-angular
    style="width: 1000px; height: 500px;"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [editType]="editType"
    [rowData]="rowData"
    [class]="themeClass"
    (cellValueChanged)="onCellValueChanged($event)"
    (rowValueChanged)="onRowValueChanged($event)"
    (gridReady)="onGridReady($event)"
  />
</div>
